build/
nbproject/private/
*.so

# Ignore generated build files
/nbproject/build-impl.xml
/nbproject/genfiles.properties
/dist/
/mobile/local.properties
/mobile/libs/
/mobile/gen/
/mobile/bin/
/mobile/assets/META-INF/